<div class="row">
	<div class="col-md-offset-2 col-md-8">
		<div class="panel panel-default">
		<div class="panel-heading center">
<%= image_tag @user.avatar.url, :class=>"profile-avatar" %>

<h2 align="center">Agent <%= @user.name %></h2>
<p align="center"><%= @user.location %></p>
</div>
<div class="panel-body">
<ul class="nav nav-tabs">
  <li class="active"><a href="#missions" data-toggle="tab">My Missions</a></li>
  <li><a href="#services" data-toggle="tab">Services</a></li>
  <li><a href="#assets" data-toggle="tab">Assets</a></li>
</ul>
 	<div class="tab-pane fade in active" id="missions">
		<% @posts.each do |post| %>
		<li>
			<%= link_to post.description, post %> in <%= post.location %> posted on <%= post.created_at.strftime("%d %b. %Y") %>
		</li>
		<% end %>
	</div>
	<div class="tab-pane fade in active" id="services">
	</div>
	<div class="tab-pane fade in active" id="assets">
	</div>
</div>
</div>
</div>

<script>
  $(function () {
    $('#myTab a:first').tab('show')
  })
</script>