
<% if @post.user == current_user %>
	<% if @post.status == 0 %>
	<p>Update mission status to:</p>
		 <%= form_for(@post) do |f| %>
		<%= f.hidden_field :post_id, :value => @post.id %>
		<%= f.hidden_field :status, :value => "1" %>
		<%= f.button "In Progress", :class => "btn btn-primary btn-sm" %>
		<% end %>
	<% else %>
	<% end %>
	<% if @post.status == 1 %>
	<p>Update mission status to:</p>
			<%= form_for(@post) do |f| %>
			<%= f.hidden_field :post_id, :value => @post.id %>
			<%= f.hidden_field :status, :value => "2" %>
			<%= f.button "Accomplished", :class => "btn btn-primary btn-sm" %>
			<% end %>
	<% else %>
	<% end %>
	<% if @post.status == 2 %>
	<% else %>
	<% end %>
<% else %>
<% end %>