<h1> Post Index </h1>
 <% @posts.each do |post| %>
 <p>Agent <%= link_to post.user_id, post.user %> needs <%= link_to post.description, post %> in <%= post.location %></p>
 <% if current_user && post.user == current_user %>
         <small> <div class="actions">
            <%= link_to edit_post_path(post) do %>
              <span class="glyphicon glyphicon-edit"></span>
              Edit
            <% end %>
            <%= link_to post, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-trash"></span>
              Delete
            <% end %>
          </div></small>
        <% end %>
        <hr>
 <% end %>
