<h1 align="center"><span class="badge"><%= @open_missions.count %></span> Missions  </h1>
<h5 align="center">Los Angeles <span class="badge"> 12</span> | New York | Nashville </h4>
<hr>
<ul class="nav nav-tabs" id="myTab">
  <li class="active"><a href="#open" data-toggle="tab">Open</a></li>
  <li><a href="#in-progress" data-toggle="tab">In Progress</a></li>
  <li><a href="#accomplished" data-toggle="tab">Accomplished</a></li>
</ul>
<div class="tab-content">
  <div class="tab-pane fade in active" id="open">
    <% @open_missions.each do |post| %>
    Operation <strong><%= link_to post.description, post %></strong> in <%= post.location %> must be completed by <%= post.deadline %>
    <% if current_user && post.user == current_user %>
      <small> <div class="actions">
            <%= link_to edit_post_path(post) do %>
              <span class="glyphicon glyphicon-edit"></span>
              Edit
            <% end %>
            <%= link_to post, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-trash"></span>
              Delete
            <% end %>
          </div></small>
    <% end %>
        <hr>
 <% end %>
  </div>
  <div class="tab-pane fade" id="in-progress">
  <% @ip_missions.each do |post| %>
  Operation <strong><%= link_to post.description, post %></strong> in <%= post.location %> must be completed by <%= post.deadline %>
 <% if current_user && post.user == current_user %>
         <small> <div class="actions">
            <%= link_to edit_post_path(post) do %>
              <span class="glyphicon glyphicon-edit"></span>
              Edit
            <% end %>
            <%= link_to post, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-trash"></span>
              Delete
            <% end %>
          </div></small>
        <% end %>
        <hr>
  <% end %>
  </div>
  <div class="tab-pane fade" id="accomplished">
    <% @acc_missions.each do |post| %>
  Operation <strong><%= link_to post.description, post %></strong> was completed.
 <% if current_user && post.user == current_user %>
         <small> <div class="actions">
            <%= link_to edit_post_path(post) do %>
              <span class="glyphicon glyphicon-edit"></span>
              Edit
            <% end %>
            <%= link_to post, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-trash"></span>
              Delete
            <% end %>
          </div></small>
        <% end %>
        <hr>
 <% end %>
  </div>
</div>

<script>
  $(function () {
    $('#myTab a:first').tab('show')
  })
</script>