<h1 align="center"><span class="badge"><%= Post.count %></span> Recent Missions  </h1>
<hr>
<div class="list-group">
  
 <span class="list-group-item"><% @posts.each do |post| %>
  Operation <strong><%= link_to post.description, post %></strong> in <%= post.location %> must be completed by <%= post.deadline %>
 <% if current_user && post.user == current_user %>
         <small> <div class="actions">
            <%= link_to edit_post_path(post) do %>
              <span class="glyphicon glyphicon-edit"></span>
              Edit
            <% end %>
            <%= link_to post, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-trash"></span>
              Delete
            <% end %>
          </div></small>
        <% end %>
        <hr>
 <% end %></span>
</div>
