

<div class="row">
	<div class="col-md-offset-2 col-md-8">
		<div class="panel panel-default">
		<div class="panel-heading center">
			<%= link_to 'Back', posts_path %><span style="float:right;"><small>posted </small><i><%= @post.created_at.strftime("%d %b. %Y") %></i></span>
		</div>
		<div class="panel-body">
		<i>A <%= @post.location %> based SlyFox needs an operative for:</i>
		
		<h3 align="center">Operation: <%= @post.description %></h3>
		<p> Must be completed by: <%= @post.deadline %></p>
		<i>Mission details:</i>
		<strong><%= @post.details %></strong>
		<br>
		<br>
			
			<% if current_user.voted_for?(@post) %>
			<button class="btn btn-primary">Well Done</button>
			<% else %>
			<%=link_to "Interested", vote_post_path(@post, type: "up"), method: "put", class: "btn btn-primary" %>
			<% end %>		

		<% if @post.user == current_user %>
		<hr>
			These are the <%= @post.votes.up.all %> agents interested the mission.
			<br>
			Voted by: <%= @post.vote_by @user %>
			<% @post.votes.each do |voter| %>
			<%=  %>
			<% end %>

			<hr>
			<%= link_to edit_post_path(@post) do %>
			<br>
        <span class="glyphicon glyphicon-edit"></span>
        Edit 
      <% end %>  
      <%= link_to @post, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-trash"></span>
              Delete
            <% end %>
		<% end %>
		</div>
	</div>

</div>