

<div class="row">
	<div class="col-md-offset-2 col-md-8">
		<div class="panel panel-default">
		<div class="panel-heading center">
			<%= link_to 'Back', posts_path %><span style="float:right;"><small>posted </small><i><%= @post.created_at.strftime("%d %b. %Y") %></i></span>
			<% if @post.status == 0 %>
			<h4>Mission Status: Accepting Agents </h4>
			<% elsif @post.status == 1 %>
			<h4>Mission Status: In Progress </h4>
			<% elsif @post.status == 2 %>
			<h4>Mission Status: Accomplished </h4>
			<% elsif @post.status == 3 %>
			<h4>Mission Status: Accomplished & Published </h4>
			<i> Check out other published missions <%= link_to "here", missions_accomplished_path %>.</i>
			<% end %>

			<%= render 'status' %>

		</div>
		<div class="panel-body">
		<i>A SlyFox needs a <%= @post.location %> based operative for:</i>
		
		<h3 align="center">Operation: <%= @post.description %></h3>
		<p> Must be completed by: <%= @post.deadline %></p>
		<i>Mission details:</i>
		<strong><%= @post.details %></strong>
		<br>
		<i>Post Conclusion:</i>
		<% if @post.status == 3 %>
		<strong><%= @post.conclusion %></strong>
		<% end %>
		<br>
		<br>
		<% if @post.status == 0 %>
			<% if @post.user == current_user %>
			<% else %>
				<% if current_user.voted_for?(@post) %>
				  <button disabled class="btn btn-disabled">Thanks for Applying</button>
				<% else %>
				  <%=link_to "Interested", vote_post_path(@post, type: "up"), method: "put", class: "btn btn-primary" %>
				<% end %>	
			<% end %>	
		<% end %>

		<% if @post.user == current_user %>
		<hr>

			<p align="center"><i>For your eyes only...</i></p>
			<br>

			 <%= pluralize @post.votes.size, "agent" %> interested in this mission
			<br>
			<%= @post.votes.each do |voter| %>

			<li>
				<%= link_to (image_tag (User.find(voter.voter_id).avatar.url(:thumb))), user_path(User.find(voter.voter_id)) %>
				Name: <%= link_to User.find(voter.voter_id).name, user_path(User.find(voter.voter_id)) %>
				Email: <%= mail_to User.find(voter.voter_id).email %>
			</li>
			<hr>
			<% end %>
			<br>

			<% if @post.status == 2 %>
			<hr>
			<% if @post.conclusion  %>
			 <p> Conclusion:
			  <strong><%= @post.conclusion %></strong></p>
	<p>Would you like to Publish this mission and inspire future Slyfoxes?</p>
		 <%= form_for(@post) do |f| %>
		<%= f.hidden_field :post_id, :value => @post.id %>
		<%= f.hidden_field :status, :value => "3" %>
		<%= f.button "Publish", :class => "btn btn-primary btn-sm" %>
		<% end %>
			<% else %>
			<%= form_for(@post) do |f| %>
			<%= f.label "Mission Conclusion:" %>
   			 <%= f.text_field :conclusion, class: "form-control", :placeholder => "Any final words?" %>
   			 <div class="form-group" align="right">
    		<%= f.submit class: "btn btn-primary" %>
  			</div>
   			 <hr>
   			 <% end %>
   			 <% end %>
   			 <% end %>
   			 <% if @post.status == 3 %>
   			 <p>Conclusion: <strong><%= @post.conclusion %></strong></p>
   			 <p>Share on social networks!</p>
   			 <% end %>
			<%= link_to edit_post_path(@post) do %>
			<br>
			
			
        <span class="glyphicon glyphicon-edit"></span>
        Edit 
      <% end %>  
      <%= link_to @post, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-trash"></span>
              Delete
            <% end %>
		<% end %>
		</div>
	</div>

</div>