

<div class="row">
	<div class="col-md-offset-2 col-md-8">
		<div class="panel panel-default">
		<div class="panel-heading center">
			<%= link_to 'Back', posts_path %><span style="float:right;"><small>posted </small><i><%= @post.created_at.strftime("%d %b. %Y") %></i></span>
			<% if @post.status == 0 %>
			<h4>Mission Status: Accepting Agents </h4>
			<% elsif @post.status == 1 %>
			<h4>Mission Status: In Progress </h4>
			<% elsif @post.status == 2 %>
			<h4>Mission Status: Accomplished </h4>
			<% end %>

			<%= render 'status' %>

		</div>
		<div class="panel-body">
		<i>A SlyFox needs a <%= @post.location %> based operative for:</i>
		
		<h3 align="center">Operation: <%= @post.description %></h3>
		<p> Must be completed by: <%= @post.deadline %></p>
		<i>Mission details:</i>
		<strong><%= @post.details %></strong>
		<br>
		<br>
			<% if @post.user == current_user %>
			 <button disabled class="btn btn-disabled">Interested Agents will Click this</button>
			 <% else %>
				<% if current_user.voted_for?(@post) %>
				  <button disabled class="btn btn-disabled">Well Done</button>
				<% else %>
				  <%=link_to "Interested", vote_post_path(@post, type: "up"), method: "put", class: "btn btn-primary" %>
				<% end %>	
			<% end %>	

		<% if @post.user == current_user %>
		<hr>

			<p align="center"><i>For your eyes only...</i></p>
			<br>

			 <%= pluralize @post.votes.size, "agent" %> interested in this mission
			<br>
			Voted by: <%= link_to @post.votes.up.all, @post %>
			/ <%= @post.vote %>
			<br>
			Stats: <%=  @user.voted_up_on? @post %>
			<% @post.votes.each do |voter| %>
			<ul>
				<li>Name: <% @post.liked_by @votes %></li>
			</ul>
			<% end %>

			<hr>
			<%= link_to edit_post_path(@post) do %>
			<br>
        <span class="glyphicon glyphicon-edit"></span>
        Edit 
      <% end %>  
      <%= link_to @post, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-trash"></span>
              Delete
            <% end %>
		<% end %>
		</div>
	</div>

</div>